.artgallery-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-bottom: 50px;
}

.artgallery-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .artgallery-section {
    flex-direction: column;
  }
}
