.fa-arrow-circle-up {
  font-size: 2rem;
  position: fixed;
  right: 20px;
  bottom: 50px;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .fa-arrow-circle-up {
    align-self: center;
  }
}
