.artgallery-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-bottom: 50px;
}

#section-3 {
  padding-bottom: 200px;
}

.artgallery-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spacing-fix-latter {
  padding: 50px 0;
}

@media only screen and (max-width: 768px) {
  .artgallery-section {
    flex-direction: column;
    align-items: center;
  }
}
