#img-container {
  object-fit: contain;
  padding: 20px;
}

.img {
  display: flex;
  max-width: 100%;
  max-height: 450px;

  min-width: 120px;

  box-shadow: 3px 3px 5px rgb(182, 182, 182);
}

#img-text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;

  text-align: left;
}

.img:hover {
  position: relative;
  opacity: 0.95;
  box-shadow: none;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}
