#img-container {
  object-fit: contain;
  padding: 20px;
}

.img {
  display: flex;
  max-width: 100%;
  max-height: 550px;
  box-shadow: 5px 5px 5px rgb(182, 182, 182);
}

#img-text {
  margin-top: 50px;

  text-align: left;
  margin-left: 20px;
}

.img:hover {
  position: relative;
  opacity: 0.95;
  box-shadow: none;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}
