* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.NavbarItems {
  background: rgb(51, 51, 51);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );

  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

li {
  padding: 20px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 8px;
}

.name {
  font-weight: 300;
}

.nav-links:hover {
  color: #9b9b9b;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .NavbarItems {
    position: relative;
    z-index: 1; /*specifies the stack order of an element, high number = higer priority when showed*/
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    position: absolute;
    top: 79px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: tabel;
    padding-left: 10px;
  }

  .nav-links:hover {
    color: #9b9b9b;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }
}
