#footer-container {
  background: rgb(51, 51, 51);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );

  height: auto;
  display: flex;
  justify-content: center;
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0;
}

.social {
  margin: 10px;
  color: white;
  font-size: 30px;
  transition: all 0.3s ease-in-out 0s;
}

.social:hover {
  color: rgb(182, 182, 182);
}

.social:visited {
  text-decoration: none;
}

#legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

.legal-item {
  margin: 5px;
}

.legal-item a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}

.legal-item a:hover {
  color: rgb(182, 182, 182);
}
